::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


.scrollActive{
    background-color: black;
    transition: .7s ease;
}

.scrollDesactive{
    transition: .7s ease;
}

.transform-img:hover{
    transform: scale(1.3);
    z-index:99;
    overflow:visible;
    transition-delay: 500ms;
}

.transform-img{
    transition:350ms all;
}
